In [7]:
import numpy as np
ar = np.array([1,2,3])
print(ar)

[1 2 3]

In [6]:
import pandas as pd 
data = {
"Name" : ["A", "B", "C"],
    "Age" : [12, 3,4]
}
d = pd.DataFrame(data)
print(d)

  Name  Age
0    A   12
1    B    3
2    C    4

In [34]:
import pandas as pd
data = pd.read_excel("Demo.xlsx")
print(data)

   Unnamed: 0 Annual Returns on Investments in Unnamed: 2 Unnamed: 3
0        Year                           Stocks    T.Bills    T.Bonds
1        1928                           0.4381     0.0308     0.0084
2        1929                           -0.083     0.0316      0.042
3        1930                          -0.2512     0.0455     0.0454
4        1931                          -0.4384     0.0231    -0.0256
..        ...                              ...        ...        ...
85        NaN                              NaN        NaN        NaN
86        NaN                              NaN        NaN        NaN
87        NaN                              NaN        NaN        NaN
88        NaN                           stocks     tbills      bonds
89   averages                              NaN        NaN        NaN

[90 rows x 4 columns]

In [24]:
print(data.info()) # To Know The Data Type

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 4 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Unnamed: 0                        84 non-null     object
 1   Annual Returns on Investments in  84 non-null     object
 2   Unnamed: 2                        84 non-null     object
 3   Unnamed: 3                        84 non-null     object
dtypes: object(4)
memory usage: 2.9+ KB
None

In [28]:
print(data.describe())

       Unnamed: 0 Annual Returns on Investments in  Unnamed: 2  Unnamed: 3
count          84                               84     84.0000     84.0000
unique         84                               84     80.0000     83.0000
top          Year                           Stocks      0.0038      0.0466
freq            1                                1      5.0000      2.0000

In [30]:
# to show null values in the data
print(data.isnull().sum())

Unnamed: 0                          6
Annual Returns on Investments in    6
Unnamed: 2                          6
Unnamed: 3                          6
dtype: int64

In [40]:
print(data.duplicated())
print(data.duplicated().sum())

0     False
1     False
2     False
3     False
4     False
      ...
85     True
86     True
87     True
88    False
89    False
Length: 90, dtype: bool
4

In [50]:
print(data.drop_duplicates()) # to delete column

   Unnamed: 0 Annual Returns on Investments in Unnamed: 2 Unnamed: 3
0        Year                           Stocks    T.Bills    T.Bonds
1        1928                           0.4381     0.0308     0.0084
2        1929                           -0.083     0.0316      0.042
3        1930                          -0.2512     0.0455     0.0454
4        1931                          -0.4384     0.0231    -0.0256
..        ...                              ...        ...        ...
81       2008                            -0.37     0.2587      0.016
82       2009                           0.2646     -0.149      0.001
83        NaN                              NaN        NaN        NaN
88        NaN                           stocks     tbills      bonds
89   averages                              NaN        NaN        NaN

[86 rows x 4 columns]

In [54]:
print(data.isnull().sum())

Unnamed: 0                          6
Annual Returns on Investments in    6
Unnamed: 2                          6
Unnamed: 3                          6
dtype: int64

In [56]:
print(data.dropna())

   Unnamed: 0 Annual Returns on Investments in Unnamed: 2 Unnamed: 3
0        Year                           Stocks    T.Bills    T.Bonds
1        1928                           0.4381     0.0308     0.0084
2        1929                           -0.083     0.0316      0.042
3        1930                          -0.2512     0.0455     0.0454
4        1931                          -0.4384     0.0231    -0.0256
..        ...                              ...        ...        ...
78       2005                           0.0491     0.0781      0.012
79       2006                           0.1579     0.0119     0.0298
80       2007                           0.0549     0.0988     0.0466
81       2008                            -0.37     0.2587      0.016
82       2009                           0.2646     -0.149      0.001

[83 rows x 4 columns]

In [58]:
print(data.isnull().sum())

Unnamed: 0                          6
Annual Returns on Investments in    6
Unnamed: 2                          6
Unnamed: 3                          6
dtype: int64