In [4]:
import pandas as pd
df = pd.read_excel("Amazon.xlsx")
print(df)

                order_no                       order_date       buyer  \
0    405-9763961-5211537  Sun, 18 Jul, 2021, 10:38 pm IST         Mr.
1    404-3964908-7850720   Tue, 19 Oct, 2021, 6:05 pm IST       Minam
2    171-8103182-4289117  Sun, 28 Nov, 2021, 10:20 pm IST  yatipertin
3    405-3171677-9557154   Wed, 28 Jul, 2021, 4:06 am IST       aciya
4    402-8910771-1215552  Tue, 28 Sept, 2021, 2:50 pm IST     Susmita
..                   ...                              ...         ...
166  171-2829978-1258758  Mon, 13 Dec, 2021, 11:30 am IST      Shahin
167  402-3045457-5360311   Wed, 1 Dec, 2021, 12:18 pm IST  Sharmistha
168  408-2260162-8323567    Thu, 9 Dec, 2021, 6:55 pm IST    shashank
169  403-5664951-8941100  Wed, 23 Feb, 2022, 12:43 am IST      Jayeta
170  402-4845680-8041921   Sun, 26 Dec, 2021, 6:21 pm IST       Varun

        ship_city         ship_state                 sku  \
0     CHANDIGARH,         CHANDIGARH  SKU:  2X-3C0F-KNJE
1       PASIGHAT,  ARUNACHAL PRADESH  SKU:  DN-0WDX-VYOT
2       PASIGHAT,  ARUNACHAL PRADESH  SKU:  DN-0WDX-VYOT
3    DEVARAKONDA,          TELANGANA  SKU:  AH-J3AO-R7DN
4         MUMBAI,        MAHARASHTRA  SKU:  KL-7WAA-Z82I
..            ...                ...                 ...
166       MUMBAI,        MAHARASHTRA  SKU:  DN-0WDX-VYOT
167     DEHRADUN,        UTTARAKHAND  SKU:  SB-WDQN-SDN9
168         Durg,       CHHATTISGARH  SKU:  SB-WDQN-SDN9
169      KOLKATA,        WEST BENGAL  SKU:  N8-YFZF-P74I
170       MUMBAI,        MAHARASHTRA  SKU:  2X-3C0F-KNJE

                                           description  quantity item_total  \
0    100% Leather Elephant Shaped Piggy Coin Bank |...         1    ₹449.00
1    Women's Set of 5 Multicolor Pure Leather Singl...         1    ₹449.00
2    Women's Set of 5 Multicolor Pure Leather Singl...         1    ₹449.00
3    Pure 100% Leather Block Print Rectangular Jewe...         1        NaN
4    Pure Leather Sling Bag with Multiple Pockets a...         1  ₹1,099.00
..                                                 ...       ...        ...
166  Women's Set of 5 Multicolor Pure Leather Singl...         3  ₹1,347.00
167  Traditional Block-Printed Women's 100% Pure Le...         1  ₹1,299.00
168  Traditional Block-Printed Women's 100% Pure Le...         1  ₹1,299.00
169  Stylish and Sleek Multiple Pockets 100 Percent...         1  ₹1,499.00
170  100% Leather Elephant Shaped Piggy Coin Bank |...         1    ₹449.00

    shipping_fee               cod        order_status
0            NaN               NaN  Delivered to buyer
1         ₹60.18               NaN  Delivered to buyer
2         ₹60.18               NaN  Delivered to buyer
3            NaN  Cash On Delivery  Delivered to buyer
4         ₹84.96               NaN  Delivered to buyer
..           ...               ...                 ...
166       ₹84.96  Cash On Delivery  Delivered to buyer
167      ₹114.46               NaN  Delivered to buyer
168      ₹105.02               NaN  Delivered to buyer
169       ₹80.24  Cash On Delivery  Delivered to buyer
170       ₹84.96               NaN  Delivered to buyer

[171 rows x 12 columns]

In [22]:
gp1 = df.groupby("ship_state").agg({"cod" : "count"})
print(gp1)

                   cod
ship_state
ANDHRA PRADESH       0
ARUNACHAL PRADESH    0
ASSAM                4
Andhra Pradesh       0
BIHAR                1
CHANDIGARH           0
CHANDIGARH,          1
CHHATTISGARH         0
DELHI                3
GOA                  0
GUJARAT              3
HARYANA              0
Himachal Pradesh     0
JAMMU & KASHMIR      1
KARNATAKA            2
KERALA               2
MADHYA Pradesh       0
MAHARASHTRA          9
MOHALI,              1
Maharashtra          0
ODISHA               1
Odisha               0
PUNJAB               0
RAJASTHAN            1
TAMIL NADU           6
TELANGANA            6
TRIPURA              0
UTTAR PRADESH        3
UTTARAKHAND          0
WEST BENGAL          3