In [12]:
import pandas as pd
data1 = {
    "Id" : ["E01","E02","E03","E04","E05","E06","E07","E08","E09","E010"],
    "Name" :  ["A","b","c","d","e","f","g","h","i","j"],
    "Age" : [1,2,3,4,5,6,7,8,9,10]
}
data2 = {
    "Id" : ["E01","E02","E03","E04","E05","E06","E07","E08","E09","E010"],
    "Salary" : [10000,2000,3000,4000,5000,6000,7000,8000,9000,100000]
}
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
print(df1)
print(df2)

     Id Name  Age
0   E01    A    1
1   E02    b    2
2   E03    c    3
3   E04    d    4
4   E05    e    5
5   E06    f    6
6   E07    g    7
7   E08    h    8
8   E09    i    9
9  E010    j   10
     Id  Salary
0   E01   10000
1   E02    2000
2   E03    3000
3   E04    4000
4   E05    5000
5   E06    6000
6   E07    7000
7   E08    8000
8   E09    9000
9  E010  100000

In [18]:
print(pd.merge(df1, df2, on = "Id"))

     Id Name  Age  Salary
0   E01    A    1   10000
1   E02    b    2    2000
2   E03    c    3    3000
3   E04    d    4    4000
4   E05    e    5    5000
5   E06    f    6    6000
6   E07    g    7    7000
7   E08    h    8    8000
8   E09    i    9    9000
9  E010    j   10  100000

In [20]:
print(pd.merge(df1, df2, on = "Id", how = "left")) # left = df1
print(pd.merge(df1, df2, on = "Id", how = "right"))

     Id Name  Age  Salary
0   E01    A    1   10000
1   E02    b    2    2000
2   E03    c    3    3000
3   E04    d    4    4000
4   E05    e    5    5000
5   E06    f    6    6000
6   E07    g    7    7000
7   E08    h    8    8000
8   E09    i    9    9000
9  E010    j   10  100000
     Id Name  Age  Salary
0   E01    A    1   10000
1   E02    b    2    2000
2   E03    c    3    3000
3   E04    d    4    4000
4   E05    e    5    5000
5   E06    f    6    6000
6   E07    g    7    7000
7   E08    h    8    8000
8   E09    i    9    9000
9  E010    j   10  100000